body {
    border-top: 7px solid #c76616;
    background-image: url('../imgs/cb-bg.png');
    background-repeat: repeat-x;
    background-color: #E2E2E2;
}
.nav-shrink {
    padding-left: 50px;
    padding-right: 50px;
}

.home {
    background-color: #c76616;
}

.content {
    background-color: #fff;
    padding-top: 15px;
    border-radius: 20px 20px 0 0;
}

.footer {
    background-color: #272727;
    color: #fff;
    font-size: 0.8em;
    padding-top: 15px;
}

.footer ul li {
    list-style: none;
    margin-left: -35px;
}

.carousel-footer {
    background-color: #373938;
    color: #fff;
    text-transform: uppercase;
    padding: 8px;
}

h5 {
    font-weight: bold;
}

h3 {
    margin-top: 0;
}

h2 {
    margin-top: 15px;
}

.social {
    float: left;
    margin-bottom: 5px;
    
}
